<div class="boxOwner">
	<h2 class="header_two">Available Packages</h2>
	<div class="row">
		<div class="col-md-12">
			<% for(let package of currentEvent.packages){ %>
				<div class="card cardHead">
					<img class="card-img-top" src="<%= package.image_url %> " alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">
							<%= package.title %>
						</h5>
						<p class="card-text">
							<%= package.description %>
						</p>
						<p class="card-text">
							<a href="" class="btn btn-primary">Price: <%= package.price %> </a>
						</p>
					</div>

				</div>
				<% } %>
		</div>
	</div>
</div>