<!-- About Section Begin -->
<section class="about-section spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title">
					<h2>Who we are ? </h2>
					<p class="f-para">With more than 60 years of experience in the travel industry, KTS will accompany
						you on all your trips and events.
					</p>
					<p>Choosing KTS is to ensure that your events will meet your expectations thanks to our listening
						skills, our knowledge of the field and our network strength while offering the lowest prices.
					</p>
					<p>We help you to create tailor-made and personalised events thanks to our original and creative
						ideas while respecting your objectives and values.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<div class="about-pic">
					<img src="img/about1.jpg" alt="">
				</div>
			</div>
			<div class="col-lg-6">
				<div class="about-text">
					<p>The KTS group, is a family business, was created in 1958 and is now present on three continents.
						In France, it was in 1987 that the Kurban Tours group (KTS) opened its first office in Paris in
						the 8th arrondissement, headed by the founder's daughter, Mrs Adeline Kurban-Fiani.</p>
					<p>Since 1987, the development of KTS France has enabled the company to develop new activities in
						order to meet the demand from both private individuals and companies. KTS France is a specialist
						in the organisation of business, cultural and event trips, for groups or individuals, and is
						also well known among works councils.</p>
					<p>KTS is a company on a human scale with a remarkable professional maturity has been weaving strong
						links with hoteliers, restaurants, airlines and tourism professionals all over the world for
						years. Year after year, our network expands, allowing us to offer you quality events at the best
						prices.</p>
					<p>KTS France is above all : </p>
					<ol>
						<li>A local agency located in the heart of Paris.</li>
						<li>A company on a human scale, where each client feels privileged.</li>
						<li>A team attentive to your needs.</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- About Section End -->

<!-- Story Section Begin -->
<section class="story-section spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title">
					<h2>Why choose us</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<div class="story-left">
					<div class="story-item">
						<h2><img src="img/experience.png" alt=""></h2>
						<div class="si-text">
							<h4>Over 60 years of experience</h4>
						</div>
					</div>
					<div class="story-item">
						<h2><img src="img/support.png" alt=""></h2>
						<div class="si-text">
							<h4>Support from start to finish</h4>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="story-right">
					<div class="story-item">
						<h2><img src="img/worldwide.png" alt=""></h2>
						<div class="si-text">
							<h4>Worldwide network of receptives </h4>
						</div>
					</div>
					<div class="story-item">
						<h2><img src="img/Reactivity.png" alt=""></h2>
						<div class="si-text">
							<h4>Reactivity: 24-hour assistance</h4>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="story-left">
					<div class="story-item">
						<h2><img src="img/simple.png" alt=""></h2>
						<div class="si-text">
							<h4>Simplicity: a website dedicated to events </h4>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>
<!-- Story Section End -->

<!-- Team members -->
<%- include('../partials/common-partials/teamMembers.ejs') %>
	<!-- end team members -->

	<!-- Newslatter Section Begin -->
	<%- include('../partials/common-partials/newsLetter.ejs') %>
		<!-- Newslatter Section End -->

		<!-- Contact Section Begin -->
		<%- include('../partials/common-partials/location.ejs') %>
			<!-- Contact Section End -->