<!-- Hero Section Begin -->
<!-- <section class="hero-section set-bg">
	<video autoplay muted loop id="myVideo">
		<source
			src="https://res.cloudinary.com/kts-france/video/upload/v1653317227/kts%20Event/Vid%C3%A9o_site_KTS_EVENTS_slsw1u.mp4"
			type="video/mp4">
	</video>
	<div class="container">
		<div class="row">
			<div class="col-lg-7">
				<div class="hero-text">
					<h2>Book Your Event<br /> NOW!</h2>
					<a href="/contact" class="primary-btn">Book Your Event</a>
				</div>
			</div>
		</div>
	</div>
</section> -->
<!-- Hero Section End -->
<div class="hero-section newHero">
	<video autoplay muted loop id="myVideo" class="video">
		<source
			src="https://res.cloudinary.com/kts-france/video/upload/v1653317227/kts%20Event/Vid%C3%A9o_site_KTS_EVENTS_slsw1u.mp4"
			type="video/mp4">
	</video>
	<div class="container adjustContainer">
		<div class="row">
			<div class="col-lg-7">
				<div class="hero-text">
					<h2>Book Your Event<br /> NOW!</h2>
					<a href="/contact" class="primary-btn">Book Your Event</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Home About Section Begin -->
<section class="home-about-section spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="ha-pic">
					<img src="img/home1.jpg" alt="">
					<img src="img/home2.jpg" alt="">
				</div>
			</div>
			<div class="col-lg-6">
				<div class="ha-text">
					<h2>About KTS event</h2>
					<p>With over 60 years of experience, KTS Events can accompany you in the creation of your events.
					</p>
					<p>We handle the design, the preparations, the guests and the material and logistical organisation
						of events such as weddings, receptions, seminars, inaugurations, congresses, etc. within the
						framework of services provided to individuals or professionals.</p>
					<ul>
						<li><span class="icon_check"></span>We offer you a personalized assistance for the realization
							of all your events.</li>
						<li><span class="icon_check"></span>We help you to create tailor-made and personalized events
							thanks to our original and creative ideas while respecting your objectives and values.</li>
						<li><span class="icon_check"></span>Our only goal is to create that WOW effect with your guests.
						</li>
					</ul>
					<a href="/about" class="ha-btn">Discover Now</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Home About Section End -->


<!-- Newslatter Section Begin -->
<%- include('../partials/common-partials/newsLetter.ejs') %>
	<!-- Newslatter Section End -->