<script
	src="https://www.paypal.com/sdk/js?client-id=AT_-WItSvpf-wCa-8vSkYucgxl5Ckj5qSm013duHJpA78oYxTUkRhqlSlZrd4eNz4iNhhhZKVL9wWYl5&currency=EUR"></script>

<div id="paypal"></div>
<a style=" background-color: #4CAF50; /* Green */
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;" href="/event-owner/home/<%= eventid %> ">Back To
	Home</a>
<script>
	paypal
		.Buttons({
			createOrder: function () {
				return fetch("/event-owner/pay", {
					method: "POST",
					headers: {
						"Content-Type": "application/json",
					},
					body: JSON.stringify({
						items: [
							{
								id: 1,
								option: 1,
							},
						],
					}),
				})
					.then(res => {
						if (res.ok) return res.json()
						return res.json().then(json => Promise.reject(json))
					})
					.then(({ id }) => {
						return id
					})
					.catch(e => {
						console.error(e.error)
					})
			},
			onApprove: function (data, actions) {
				return actions.order.capture().then(() => {
					const responsePromise = fetch("/event-owner/send-emails", {
						method: "POST",
						headers: {
							"Content-Type": "application/json",
						},
						body: JSON.stringify({
							items:
							{
								id: 1,
							},
						}),
					})
					responsePromise.then((responseFromServer) => {
						if (responseFromServer.status === 200) {
							location.href = '/event-owner/home/<%=eventid%>?q=true';
						}
						else {
							alert('smth went wrong');
							location.href = '/';
						}

					})

				});
			}
		})
		.render("#paypal")
</script>