<script
	src="https://www.paypal.com/sdk/js?client-id=AT_-WItSvpf-wCa-8vSkYucgxl5Ckj5qSm013duHJpA78oYxTUkRhqlSlZrd4eNz4iNhhhZKVL9wWYl5&currency=EUR"></script>

<div id="paypal"></div>

<script>
	paypal
		.Buttons({
			createOrder: function () {
				return fetch("/event-owner/pay", {
					method: "POST",
					headers: {
						"Content-Type": "application/json",
					},
					body: JSON.stringify({
						items: [
							{
								id: 1,
								option: 1,
							},
						],
					}),
				})
					.then(res => {
						if (res.ok) return res.json()
						console.log('ayre bel nabe')
						return res.json().then(json => Promise.reject(json))
					})
					.then(({ id }) => {
						return id
					})
					.catch(e => {
						console.error(e.error)
					})
			},
			onApprove: function (data, actions) {
				return actions.order.capture()
			},
		})
		.render("#paypal")
</script>